@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --titulo: 'Barlow Condensed', sans-serif;
    --texto: 'PT Sans', Verdana, sans-serif;
    --secundario: 'Oswald', sans-serif;

    --verde-primario: rgb(19, 82, 3);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 50px;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav img {
    padding-right: 15px;
}

#nav-titulo {
    padding: 0 50px 0 20px;
    font-size: 1.8em;
    font-weight: 800;
}

nav ul {
    display: block;
}

nav li {
    display: inline;
    padding: 5px 15px;
    font-weight: 100;
    text-align: center;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: black;
    text-decoration: none;
    font-weight: 500;
    color: var(--verde-primario);
}

section {
    padding: 40px;
}


li {
    font-family: var(--secundario);
    font-weight: 500;
}

h2 {
    margin-top: 30px;
    font-family: var(--secundario);
    font-weight: 350;
    font-size: 3em;
}

p {
    font-family: var(--texto);
}

#inicio-section {
    padding-right: 0;
    padding-left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-texto-inicio {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#container-texto-inicio h1 {
    font-family: var(--titulo);
    margin-bottom: 50px;
    font-size: 10em;
    font-weight: 500;
}

#container-texto-inicio p {
    font-size: 3em;
    font-family: var(--secundario);
    font-weight: 100;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 90vh;
    display: none;
    object-fit: cover;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}

.slider button {
    position: absolute;
    height: 100%;
    width: 5vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.5rem;
    padding: 10px;
    color: black;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

.slider button:hover {
    opacity: 1;
}

.slider-prev {
    left: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 5%, #ffffff80 100%);
}

.slider-next {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff80 100%);
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

#servicos-section {
    position: relative;
    overflow: hidden;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(19, 82, 3, 0.7);
}

.product-description {
    width: 100%;
    height: 20px;
    overflow: hidden;
    margin: 5px 0;
    text-transform: capitalize;
}

.pre-btn, 
.nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;

    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
    
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.5;
}

.pre-btn img:hover,
.nxt-btn img:hover {
    opacity: 1;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
}

#contato-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 900px) {
    #contato-container {
        flex-direction: column;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}

#div-endereco, 
#div-contato {
    text-align: left;
    font-size: 1em;
    line-height: 3;
    padding: 15px;
    
}

#div-contato div {
    display: flex;
    align-items: center;
}

.info-icon {
    margin-right: 10px;
}

#div-endereco {
    text-align: center;
    line-height: 1.5;
    text-align: left;
}

#div-endereco div p {
    margin-bottom: 20px;
}

iframe {
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 1%;
}

.contact-tag {
    font-weight: bold;
}

footer {
    text-align: center;
    font-family: var(--texto);
    font-size: 0.75em;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: var(--verde-primario);
}